* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCF8F3;
}

.wrapper {
    margin: 2.5em 6.25em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

.header__title {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 1.5em;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4em;
}

.btn {
    height: auto;
    width: 1.5em;
    cursor: pointer;
}

.btn:hover {
    fill: #E89F71;
    stroke: #E89F71;
    transition: all 0.3s ease;
}

.btn img {
    width: 100%;
}

.product {
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product__title {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    color: #3A3A3A;
    font-size: 2.5em;
}

.product__image {
    width: 20em;
}

.product__description {
    font-family: 'Gilroy', sans-serif;
    color: #898989;
    font-size: 1.5em;
}

.product__text {

    font-family: 'Gilroy', sans-serif;
    color: #898989;
    font-size: 1em;
    width: 20em;
}

.product__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}

.price__current {
    font-family: 'Gilroy', sans-serif;
    color: #3A3A3A;
    font-size: 1.25em;
}

.price__old {
    font-family: 'Gilroy', sans-serif;
    text-decoration: line-through;
    color: #B0B0B0;
    font-size: 1em;
}

.product__btn {
    font-family: 'Gilroy', sans-serif;
    font-size: 1em;
    height: 3em;
    width: 15.3125em;
    background-color: transparent;
    border: 0.0625em solid #E89F71;
    color: #E89F71;
    cursor: pointer;
}

.product__btn:hover {
    background-color: #E89F71;
    color: #FFFFFF;
}

@media screen and (max-width: 480px) {
    .wrapper {
        margin: 1.5em 2em;
    }

    .product__title {
        font-size: 1.5em;
    }
}